html, body, main {
    padding: 0px;
    height: 100%;
}

#navbar {
    background-color: rgba(190, 5, 135, 1);
    height: 6rem;
    align-items: center;
}

#fa-brain {
    margin: 10px 5px;
    color: white;
}

#navbar-brand {
    margin: 5px 3px;
    color: white;
    font-size: 3.2rem;
}

#seccion-principal{
    padding: 0px 0px 0px 0px;
    display: flex;
}

#aside {
    margin: 0px 0px;
    padding: 0px 0px;
}

#section {
    padding-left: 0px;
    padding-right: 0px;
}

#aside #nav {
    padding: 15% 0.5%;
    background-color: rgba(215, 90, 180, 1);
}

#nav > a {
    margin-left: 9%;
    color: white;
}

input > #buscar-input {
    margin-left:  9%;
    color: white;
}

#buscar-form {
    margin-left: 16%;
    margin-bottom: 10px;
    color: white;
}

#buscar-input:focus {
    border-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0.5);
}

#buscar-input::-webkit-search-cancel-button {
    display: none;
}

#fa-search {
    position: absolute;
    margin-top: 5.5%;
    margin-left: 5%;
    z-index: 2;
}

#buscar-input {
    padding-left: 1.8rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    max-width: 60%;
}

#buscar-input::placeholder {
    margin-left: 1%;
    color: white;
}

#card {
    padding-left: 0px;
    margin-left: 0px;
}

#card > #card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#card-header {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    background-color: rgba(215, 90, 180, 0.15);
}

#card-title {
    padding-bottom: 0px;
    margin-bottom: 2px;
    font-size: 1.3rem;
}

#card-subtitle {
    padding-bottom: 0px;
    margin-bottom: 2px;
}

#card-body {
    border-bottom: 1px solid rgba(190, 5, 135, 1);
    padding: 10px;
}

#input-card-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    background-color: rgba(215, 90, 180, 0.15);
}

#textarea-card-body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-bottom: 1px solid rgba(190, 5, 135, 1);
    padding: 10px;
}

#input-card-header::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.4);
}

#textarea-card-body::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
}

#input-card-header:focus {
    outline-width: 1px;
    outline-color: white;
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0.6);
}

#textarea-card-body:focus {
    outline-width: 1px;
    outline-color: rgba(215, 90, 180, 1);
    box-shadow: 0 0 0 0.2rem rgba(215, 90, 180, 0.4);
}